<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
	<bean id="sampleServiceBean" class="com.esri.ges.processor.sample.SampleService" activation="eager">
		<property name="bundleContext" ref="blueprintBundleContext" />
	</bean>
	<service id="sampleService" ref="sampleServiceBean" interface="com.esri.ges.processor.GeoEventProcessorService"/>
</blueprint>