<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="genericAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <sectionGroup name="stopConfigurationGroup">
      <section name="statusRemarkLookupSection" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="statusInputLookupSection"  type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="iconLookupSection"         type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
   </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <genericAppSettings>
    <add key="gen-key-1" value="gen-value-1" />
    <add key="gen-key-2" value="gen-value-2" />
  </genericAppSettings>

  <stopConfigurationGroup>
    <statusRemarkLookupSection>
      <!-- <add key="type1,status1" value="remark1,remark2,remark3,..." /> -->
      <add key="LVTAG,AtStop"        value="" />
      <add key="LVTAG,Completed"     value=",Left Tag With Owner,Left Tag With Tenants" />
      <add key="LVTAG,Exception"     value="Location not reached,Building Torn Down,Could Not Locate Address,Dog in Area,New Tenant,Vacant" />
      <add key="CUTOFF,AtStop"       value="" />
      <add key="CUTOFF,Completed"    value=",Found Straight Pipe,Found Stolen Meter" />
      <add key="CUTOFF,Exception"    value="Location not reached by AI,Building Torn Down,Could Not Locate Address,Could Not Locate Meter,Could Not Turn Off,Car On Meter,Dog in Area,Flooded Meter,Water Found Off,Water found off by HRSD,Water found off by Jurisdiction,Found Locked by HRSD,Found Locked by Jurisdiction,Meter out,New Tenant,Trash on Meter,Vacant Property,Well Water" />
      <add key="BKCHECK,AtStop"      value="" />
      <add key="BKCHECK,Completed"   value="Building Torn Down,Could Not Lock,Could Not Turn Off,Car On Meter,Water Found Off,Water found off by HRSD,Water found off by Jurisdiction,Found Locked by HRSD,Found Locked by Jurisdiction,Lock Missing,Lock Recovered,Lock,Meter Out,Meter Out and Lock Recovered,New Tenant,Found Straight Pipe,Meter Removed,Found Stolen Meter,Vacant Property,Vacant Property and Lock Recovered,Well Water" />
      <add key="BKCHECK,Exception"   value="Location not reached by AI,Could Not Locate Address,Could Not Locate Meter,Dog in Area,Flooded Meter,Trash on Meter" />
      <add key="RMVMTNP,AtStop"      value="" />
      <add key="RMVMTNP,Completed"   value=",Meter Removed,Lock Missing,Lock Recovered,Found Stolen Meter" />
      <add key="RMVMTNP,Exception"   value="Location not reached by AI,Building Torn Down,Could Not Locate Address,Could Not Locate Meter,Could Not Turn Off,Car On Meter,Dog in Area,Flooded Meter,Water Found Off,Found Locked by HRSD,Found Locked by Jurisdiction,Meter Out,Meter Out and Lock Recovered,New Tenant,Found Straight Pipe,Trash on Meter,Vacant Property,Vacant Property and Lock Recovered" />
      <add key="BKCHCK30,AtStop"     value="" />
      <add key="BKCHCK30,Completed"  value="Building Torn Down,Water Found Off,Water found off by Jurisdiction,Meter out" />
      <add key="BKCHCK30,Exception"  value="Location not reached by AI,Could Not Locate Address,Could Not Locate Meter,Car On Meter,Dog in Area,Flooded Meter,New Tenant,Found Straight Pipe,Found Stolen Meter,Trash on Meter,Vacant Property" />
      <add key="TURNON,AtStop"       value="" />
      <add key="TURNON,Completed"    value=",Turned on by Customer,Lock Missing,Lock Recovered" />
      <add key="TURNON,Exception"    value="Customer Not Home,Could Not Leave On,Car On Meter,Dog in Area,Flooded Meter,Found Locked by Jurisdiction,Meter out,Meter Out and Lock Recovered,Trash on Meter" />

      <add key="Service,AtStopBig"   value=",Left Tag With Owner,Left Tag With Tenants,Option 1,Option 2,Option 3,Option 4,Option 5,Option 6,Option 7,Option 8,Option 9,Option 10" />
      <add key="Service,AtStop"      value="" />
      <add key="Service,Completed"   value=",Meter Removed,Lock Missing,Lock Recovered,Found Stolen Meter" />
      <add key="Service,Exception"   value="Location not reached,Building Torn Down,Could Not Locate Address,Dog in Area,New Tenant,Vacant" />
    </statusRemarkLookupSection>
    <statusInputLookupSection>
      <!-- <add key="type1" value="input1FieldAlias,input2FieldAlias,..." /> -->
      <add key="LVTAG" value="Meter Read,Note" />
    </statusInputLookupSection>
    <iconLookupSection>
      <!-- <add key="status1" value="relativePathToImage" /> -->
      <add key="Default"             value="/Images/Stop/StopUnknownType.png" />
      <add key="Base"                value="/Images/Stop/StopBase.png" />
      <add key="DoorTag"             value="/Images/Stop/StopDoorTag.png" />
      <add key="Inspection"          value="/Images/Stop/StopInspection.png" />
      <add key="TurnOff"             value="/Images/Stop/StopTurnOff.png" />
      <add key="TurnOn"              value="/Images/Stop/StopTurnOn.png" />
      <add key="Break"               value="/Images/Stop/StopBreak.png" />
      <add key="Service"             value="/Images/Stop/StopService.png" />
    </iconLookupSection>
  </stopConfigurationGroup>

  <appSettings>
    <add key="WebMapItemID"                       value="da6d513444b842cb9d8ddf1444a10f20"/>
    <add key="GEPBaseUrl"                         value="http://localhost:6180"/>
    <add key="GEPCalculateRoutesEndpoint"         value="geoevent/rest/receiver/route-update-in"/>
    <add key="GEPUpdateStopEndpoint"              value="geoevent/rest/receiver/route-stop-update-in"/>
    <add key="GEPUpdateRequestIdFieldName"        value="RequestId"/>

    <add key="MapRefreshRateSec"                  value="10"/>
    <add key="StopsRefreshRateSec"                value="3"/>
    <add key="MessagesRefreshRateSec"             value="3"/>

    <add key="LayerNameVehicles"                  value="RouteMonitor - Vehicles"/>
    <add key="LayerNameWorkers"                   value="RouteMonitor - Workers"/>
    <add key="LayerNameStops"                     value="RouteMonitor - Stops"/>
    <add key="LayerNameRoutes"                    value="RouteMonitor - Routes"/>
    <add key="LayerNameMessages"                  value="RouteMonitor - Messages"/>
    <add key="LayerNameStopsPending"              value="RouteMonitor - Stops_Pending"/>
    <add key="LayerNameMessagesPending"           value="RouteMonitor - Messages_Pending"/>
    <add key="LayerNameRouteAssignment"           value="RouteMonitor - Route_Assignment"/>

    <add key="RouteAssignmentAccountFieldAlias"   value="Account Name"/>
    <add key="RouteAssignmentRouteFieldAlias"     value="Route Name"/>

    <add key="StopsIdFieldAlias"                  value="Stop"/>
    <add key="StopsSequenceFieldAlias"            value="Sequence"/>
    <add key="StopsAddressFieldAlias"             value="Address"/>
    <add key="StopsTypeFieldAlias"                value="Type"/>
    <add key="StopsEtaFieldAlias"                 value="Projected Arrival"/>
    <add key="StopsEtdFieldAlias"                 value="Projected Departure"/>
    <add key="StopsStatusFieldAlias"              value="Status"/>
    <add key="StopsRouteNameFieldAlias"           value="Route Name"/>
    <add key="StopsRemarkFieldAlias"              value="Status Remark"/>
    <add key="StopsLastUpdatedAlias"              value="Last Updated"/>
    <add key="StopsActualArrivalAlias"            value="Actual Arrival"/>
    <add key="StopsActualDepartureAlias"          value="Actual Departure"/>
    <add key="StopsActualDurationAlias"           value="Actual Duration"/>
    <add key="StopsScheduledArrivalAlias"         value="Scheduled Arrival"/>
    <add key="ScheduledDurationFieldAlias"        value="Scheduled Duration"/>

    <add key="RoutesVehicleNameFieldAlias"        value="Vehicle"/>
    <add key="RoutesRouteNameFieldAlias"          value="Route"/>

    <add key="MessagesIdFieldAlias"               value="ID"/>
    <add key="MessagesStatusFieldAlias"           value="Status"/>
    <add key="MessagesTypeFieldAlias"             value="Type"/>
    <add key="MessagesRouteNameFieldAlias"        value="MessageTo"/>
    <add key="MessagesTimeFieldAlias"             value="MessageTime"/>
    <add key="MessagesFromFieldAlias"             value="MessageFrom"/>
    <add key="MessagesBodyFieldAlias"             value="Body"/>
    <add key="MessagesSubjectFieldAlias"          value="Subject"/>

    <add key="VehiclesVehicleNameFieldAlias"      value="Vehicle"/>

    <add key="WorkersDriverNameFieldAlias"        value="Worker"/>

    <add key="StopStatusAtStop"                   value="AtStop"/>
    <add key="StopStatusCompleted"                value="Completed"/>
    <add key="StopStatusException"                value="Exception"/>
    <add key="StopTypeBreak"                      value="Break"/>

    <add key="MessageAckedStatus"                 value="Complete"/>

  </appSettings>

</configuration>
