<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.0.0">

   	<bean id="messageProcessorBean" class="com.esri.ges.processor.message.MessageService" activation="eager">
		<property name="bundleContext" ref="blueprintBundleContext" />
	</bean>
	<service id="messageService" ref="messageProcessorBean" interface="com.esri.ges.processor.GeoEventProcessorService"/>
</blueprint>